* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Arial", sans-serif;
  color: #f1f1f1;
  background-color: #121212;
}
.navbar span {
  color: turquoise;
}

/* Info section styling */
.info {
  margin-top: 50px;
  color: #ffffff;
}

.info h4 {
  color: #cfcfcf;
}

.info h1 {
  font-size: 3rem;
}

.info span {
  color: turquoise;
}

img {
  margin-top: 50px;
}

.resume .btn-primary {
  padding: ;
  background-color: #121212;
  padding: 0.5rem 3rem;
  border-color: turquoise;
  border-radius: 20px;
  margin-bottom: 50px;
}

.resume .btn-primary:hover {
  background-color: #1c86ee;
  border-color: #1c86ee;
}

/* Introduction section styling */
.introduction {
  padding: 2rem 0;
}

.intro-text h2 {
  color: #ffffff;
}

.intro-text h5 {
  color: #1e90ff;
}

.intro-text p {
  color: #cfcfcf;
}

#intro-full {
  display: none;
}

.button {
  background-color: #1e90ff;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #1c86ee;
}

/* Project section styling */
.card {
  border: none;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  color: #cfcfcf;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-body i {
  color: #1e90ff;
}

.card-title {
  color: #ffffff;
}

.card-text {
  color: #cfcfcf;
}

.btn-primary {
  background-color: #1e90ff;
  border-color: #1e90ff;
}

.btn-primary:hover {
  background-color: #1c86ee;
  border-color: #1c86ee;
}

/* Footer styling */
footer {
  background-color: #1e1e1e;
  color: #cfcfcf;
  text-align: center;
  padding: 1rem 0;
}

footer .social a {
  color: #cfcfcf;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

footer .social a:hover {
  color: #ffffff;
}

footer .end {
  margin-top: 0.5rem;
}
